[Unit]
Description=Connected Home HMI

[Service]
Environment=LD_PRELOAD=/usr/lib/libEGL.so
ExecStart=/opt/com.genivi.gdp.qml-music/bin/qt-smart-demo -platform wayland
